<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="utf-8">
  <title>layui</title>
  <meta name="renderer" content="webkit">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
  <link rel="stylesheet" href="/lib/layui-v2.5.6/css/layui.css" media="all">
  <link rel="stylesheet" href="/css/public.css" media="all">
</head>

<body>
<div class="layuimini-container">
  <div class="layuimini-main">

    <div class="layui-col-md6" style="margin-top: 30px;">
      <span style="text-align: center;color: #5FB878;"><h2>已交人员名单</h2></span>
      <table class="layui-hide" id="currentTableId2" lay-filter="currentTableFilter2"></table>
    </div>

    <div class="layui-col-md6" style="margin-top: 30px;">
      <span style="text-align: center;color: #FF5722;"><h2>未交人员名单</h2></span>
      <table class="layui-hide" id="currentTableId" lay-filter="currentTableFilter"></table>
    </div>

    <!-- <script type="text/html" id="toolbarDemo">
      <div class="layui-btn-container">
        <button class="layui-btn layui-btn-normal layui-btn-sm data-add-btn" lay-event="add">一键提醒</button>
      </div>
    </script>
    <script type="text/html" id="currentTableBar">
      <a class="layui-btn layui-btn-normal layui-btn-xs" lay-event="remind">提醒</a>
    </script> -->

  </div>
</div>

<script src="/lib/layui-v2.5.6/layui.js" charset="utf-8"></script>
<script th:inline="javascript">

  layui.use(['form', 'table'], function () {
    const $ = layui.jquery,
      form = layui.form,
      table = layui.table

    showSubmittedTable()
    showUnpaidTable()

    function showSubmittedTable() {
      // 加载已交人员名单
      table.render({
        elem: '#currentTableId2',
        url: '/admin/user/findSubmitted',
        page: {
          curr: 1,
          limit: 10,
          layout: ['prev', 'page', 'next', 'skip', 'limit', 'refresh']
        },
        toolbar: '#toolbarDemo',
        defaultToolbar: ['filter', 'exports', 'print', {
          title: '提示',
          layEvent: 'LAYTABLE_TIPS',
          icon: 'layui-icon-tips'
        }],
        cols: [
          [
            {field: 'userId', title: '学号', sort: true},
            {field: 'username', title: '姓名'},
            {
              field: 'upload_time',
              width: '40%',
              title: '上传时间'//,templet: '<div>{{ layui.util.toDateString(d.upload_time, "yyyy-MM-dd HH:mm:ss") }}</div>'
            },
          ]
        ],
        skin: 'line',
        text: {
          none: '暂无上交人员' //默认：无数据。注：该属性为 layui 2.2.5 开始新增
        },
        done: function (res, curr, count) {
          console.log(`已交表格 当前页${curr} 总条数${count}`)
        }
      });
    }

    function showUnpaidTable() {
      // 加载未交人员名单
      table.render({
        elem: '#currentTableId',
        url: '/admin/user/findUnpaid',
        page: {
          curr: 1,
          limit: 10,
          layout: ['prev', 'page', 'next', 'skip', 'limit', 'refresh']
        },
        toolbar: '#toolbarDemo',
        defaultToolbar: ['filter', 'exports', 'print', {
          title: '提示',
          layEvent: 'LAYTABLE_TIPS',
          icon: 'layui-icon-tips'
        }],
        cols: [
          [
            {field: 'userId', title: '学号', sort: true},
            {field: 'username', title: '姓名'},
            {title: '操作', toolbar: '#currentTableBar', align: "right"}
          ]
        ],
        skin: 'line',
        text: {
          none: '全员已上交' //默认：无数据。注：该属性为 layui 2.2.5 开始新增
        },
        done: function (res, curr, count) {  //如果是异步请求数据方式，res即为你接口返回的信息。
          console.log(`未交表格 当前页${curr} 总条数${count}`)
        }
      });
    }

    table.on('tool(currentTableFilter)', function (obj) {
      let data = obj.data;
      console.log(data)
      if (obj.event === 'remind') {
        console.log('提醒')
        return false;
      }
    });

  });
</script>

</body>
</html>