<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <title>截图上交 | 主页</title>
  <meta charset="UTF-8">
  <!--强制让文档的宽度与设备的宽度保持1:1，并且文档最大的宽度比例是1.0，且不允许用户点击屏幕放大浏览；-->
  <meta name="viewport"
        content="width=device-width, initial-scale=1.0, maximum-scale=1.0,minimum-scale=1.0, user-scalable=no"/>
  <!--iphone-->
  <!-- 网站开启对web app程序的支持，其实意思就是删除默认的苹果工具栏和菜单栏，开启全屏显示-->
  <meta name="apple-mobile-web-app-capable" content="yes"/>
  <!--制定iphone中safari顶端的状态条的样式（default:白色，black:黑色，black-translucent：半透明）-->
  <meta name="apple-mobile-web-app-status-bar-style" content="black"/>
  <!--告诉设备忽略将页面中的数字识别为电话号码。-->
  <meta name="format-detection" content="telephone=no">
  <!-- 添加到IOS主屏后的标题。-->
  <!--<meta name="apple-mobile-web-app-title" content="标题名称">-->
  <meta name="description" content="截图上交系统"/>
  <meta name="keywords" content="青年大学习"/>
  <meta name="author" content="pc"/>
  <meta name="robots" content="index,follow"/>
  <link rel="stylesheet" href="/lib/layui-v2.5.6/css/layui.css">
  <style>
    body{
      min-width: 375px;
    }

    /* 顶部阴影效果 */
    body::before {
      content: "";
      position: fixed;
      top: -80px;
      left: 0;
      width: 100%;
      height: 80px;
      box-shadow: 5px 5px 800px black;
      z-index: 100;
    }

    .btn1 {
      height: 100px;
      background: #2F4056;
      border-radius: 3px;
      font-size: 18px;
      box-shadow: 0 0 5px black;
      padding: 30px;
    }

    .btn2 {
      height: 100px;
      background: #17a2b8;
      padding: 30px;
      border-radius: 3px;
      font-size: 18px;
      box-shadow: 0 0 5px black;
    }
  </style>
</head>
<body>
<!-- 让 IE8/9 支持媒体查询，从而兼容栅格 -->
<!--[if lt IE 9]>
<script src="https://cdn.staticfile.org/html5shiv/r29/html5.min.js"></script>
<script src="https://cdn.staticfile.org/respond.js/1.4.2/respond.min.js"></script>
<![endif]-->

<div class="layui-container" style="text-align: center;">
  <div class="layui-row">

    <div class="layui-col-lg8 layui-col-sm10 layui-col-xs11" style="margin-top: 80px;">
      <div class="layui-col-lg-offset6 layui-col-sm-offset2 layui-col-xs-offset1">
        <i class="layui-icon layui-icon-upload-drag" style="font-size: 40px;"></i>
        <div style="font-family: 'Microsoft YaHei UI';font-size: 16px;" class="layui-card-body">青年大学习截图上交系统 <i>1.1</i></div>
      </div>
    </div>

    <div class="layui-col-lg8 layui-col-sm10 layui-col-xs11" style="margin-top: 30px;">
      <div class="layui-col-lg-offset6 layui-col-sm-offset2 layui-col-xs-offset1  layui-anim layui-anim-upbit">
        <a id="a1" href="javascript:void(0);" class="layui-btn layui-btn-lg layui-btn-fluid btn1">
          <span id="title1">🚀 朋友圈截图上交</span>
          <span style="font-weight: lighter;font-size:13px;color:#FFFFFF80;">点此进入</span>
        </a>
      </div>
    </div>

    <div class="layui-col-lg8 layui-col-sm10 layui-col-xs11" style="margin-top: 30px;">
      <div class="layui-col-lg-offset6 layui-col-sm-offset2 layui-col-xs-offset1 layui-anim layui-anim-upbit">
        <a id="a2" href="javascript:void(0);" class="layui-btn layui-btn-lg layui-btn-fluid btn2">
          <span id="title2">🚀 首页截图上交</span>
          <span style="font-weight: lighter;font-size:13px;color:#FFFFFF80;">点此进入</span>
        </a>
      </div>
    </div>

    <div class="layui-col-lg8 layui-col-sm10 layui-col-xs11" style="margin-top:50px;color: #6C757D;">
      <div class="layui-col-lg-offset6 layui-col-sm-offset2 layui-col-xs-offset1">
        <div style="text-align: left;">
          <div style="font-size: 16px;">
            <a href='https://gitee.com/pcdd-group/qndxx/stargazers'>
              <img src='https://gitee.com/pcdd-group/qndxx/badge/star.svg?theme=dark' alt='star'>
            </a>
            <a href="https://gitee.com/pcdd-group/qndxx" target="_blank" style="color: #6C757D;">
              有帮助就给个 Star <i class="layui-icon layui-icon-star-fill" style="color: #ffab00"></i> 吧
            </a>
          </div>
          <div style="font-size: 12px;margin-top: 5px;">
            <p>若使用出现问题或您也希望使用本网站</p>
            <p>
              请在
              <a href="https://gitee.com/pcdd-group" target="_blank" style="color: #01AAED;">作者 Gitee 主页</a>
              QQ 联系作者
            </p>
            <p>Copyright © pcdd</p>
          </div>
        </div>
      </div>
    </div>

    <!-- <div class="layui-col-md12">
      <div class="layui-col-md-offset3 layui-col-md6" style="margin-top:100px;">
        <div class="layui-collapse" lay-filter="test">
          <div class="layui-colla-item">
            <h2 class="layui-colla-title">为什么登录不需要密码？</h2>
            <div class="layui-colla-content">
              <p>因为相信大家都是有素质的人</p>
            </div>
          </div>
        </div>
      </div>
    </div> -->

  </div>
</div>

<script src="/lib/jquery-3.7.1.min.js"></script>
<script src="/lib/layui-v2.5.6/layui.js"></script>
<script src="/js/cookie.js"></script>
<script th:inline="javascript">
  layui.use(['element', 'layer', 'upload'], function () {
    let form = layui.form;
    let table = layui.table;
    let laydate = layui.laydate;
    let element = layui.element;
    let layer = layui.layer;
    let upload = layui.upload;

    let pageName;

    $(function () {
      $("body").css("background", "#F9F9F9");
    });

    // 朋友圈截图上交按钮
    $("#a1").click(() => {
      login("moments");
    });

    // 首页截图上交按钮
    $("#a2").click(() => {
      login("home");
    });

    // 登录请求
    let login = (pageName) => {
      if ([[${session.student}]] != null) {
        window.location.href = "upload/" + pageName;
        return;
      }
      layer.open({
        type: 2
        , title: '身份验证'
        , maxmin: false//最大最小化
        , anim: 0
        , shadeClose: true//点击遮罩是否关闭层
        , area: ['400px', '280px']
        , content: '/login?par=' + pageName//弹框显示的url,对应的页面
        , closeBtn: 1
        , move: true
        , id: "id"
      });

    };


    /*$("#gate").dblclick(function () {
        layer.prompt({
            formType: 1,
            value: '',
            title: '口令',
            area: ['800px', '350px'] //自定义文本域宽高
        }, function (value, index, elem) {
            let pwd = value.trim();
            if (pwd.length > 18) {
                return;
            }

            $.post("${pageContext.request.contextPath}/admin/login", {pwd: pwd}, function (data) {
                console.log(data);
                if (data == "true") {
                    window.location.href = "manager.jsp"
                } else {
                    layer.msg('口令错误！', {icon: 2, time: 1000, anim: 6});
                }
            })
            layer.close(index);
        });
    });*/


  });
</script>
</body>
</html>
