<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport"
        content="width=device-width, initial-scale=1.0, maximum-scale=1.0,minimum-scale=1.0, user-scalable=no"/>
  <meta name="apple-mobile-web-app-capable" content="yes"/>
  <meta name="apple-mobile-web-app-status-bar-style" content="black"/>
  <meta name="format-detection" content="telephone=no">
  <title>User Login</title>
  <link rel="stylesheet" href="/lib/layui-v2.5.6/css/layui.css">
</head>

<body>
<!-- 让IE8/9支持媒体查询，从而兼容栅格 -->
<!--[if lt IE 9]>
<script src="https://cdn.staticfile.org/html5shiv/r29/html5.min.js"></script>
<script src="https://cdn.staticfile.org/respond.js/1.4.2/respond.min.js"></script>
<![endif]-->

<form class="layui-form" style="text-align: center">
  <div>
    <input type="text" id="txt_id" name="id" placeholder="请输入你的学号"
           autocomplete="off"
           class="layui-input"
           oninput="value=value.replace(/\D/g,'')" style="margin-top: 20px;width: 80%;display: inline-block">
  </div>
  <div style="margin-top: 20px;">
    <input type="button" id="btnLogin" class="layui-btn" value="确定">
    <input type="reset" id="btnReset" class="layui-btn layui-btn-primary" value="重置">
  </div>
</form>

<script src="/lib/jquery-3.7.1.min.js"></script>
<script src="/lib/layui-v2.5.6/layui.js"></script>
<script src="/lib/js.cookie.min.js"></script>

<script type="text/javascript">
  layui.use(['element', 'layer', 'form'], function () {
    const layer = layui.layer;
    const $ = layui.$;
    const $txtId = $("#txt_id")

    $(function () {
      let id = Cookies.get('id')
      // 获取名为id的cookie的值，并将此值保存在文本框中
      $txtId.val(id ? id : '');
    });

    $(document).on('keydown', function (event) {
      if (event.keyCode === 13) { //判断为Enter键
        console.log("回车事件执行！");
        login();
      }
    });

    // 登录
    $("#btnLogin").on('click', login);

    function login() {
      let id = $txtId.val().trim();
      if (/^\s*$/.test(id)) {
        layer.msg('学号不能为空！', {icon: 0, time: 1500, anim: 6, type: 0});
        $txtId.val("").focus();
        return;
      }
      // 实现登录中等待的效果
      let index = layer.msg('校验中', {
        icon: 16,
        shade: 0.5
      }); //校验loading

      $.ajax({
        url: "/auth/user/login/" + id,
        type: "post",
        dataType: "json",
        success: function (res) {
          console.log(res);
          // 学号校验成功后，显示上传界面
          if (res.code === 200) {
            // id 保存到 cookie
            Cookies.set('id', id, {expires: 30})
            // 先得到当前iframe层的索引
            let index = parent.layer.getFrameIndex(window.name);
            //再执行关闭
            parent.layer.close(index);
            // 变量传参
            parent.location.href = "upload/" + decodeURI(window.location.href.split("?")[1].split("=")[1].trim());
          } else {
            layer.msg(res.msg, {icon: 2, time: 2000, anim: 6});
            $txtId.val("").focus();
          }
        },
        error: function () {
          layer.msg('login 请求失败！', {icon: 2});
        }
      });
      layer.close(index);
    }

  });
</script>

</body>
</html>
