<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="zh">
<head>
  <title>截图上传</title>
  <meta charset="UTF-8">
  <!--
      在网页的<head>中增加以上这句话，可以让网页的宽度自动适应手机屏幕的宽度。其中：
      width=device-width ：表示宽度是设备屏幕的宽度
      initial-scale=1.0：表示初始的缩放比例
      minimum-scale=0.5：表示最小的缩放比例
      maximum-scale=2.0：表示最大的缩放比例
      user-scalable=yes：表示用户是否可以调整缩放比例
  -->
  <meta name="viewport"
        content="width=device-width, initial-scale=1.0, maximum-scale=1.0,minimum-scale=1.0, user-scalable=no"/>
  <meta name="apple-mobile-web-app-capable" content="yes"/>
  <meta name="apple-mobile-web-app-status-bar-style" content="black"/>
  <meta name="format-detection" content="telephone=no">
  <meta name="description" content="青年大学习截图上交系统"/>
  <meta name="keywords" content="青年大学习"/>
  <meta name="author" content="pc"/>
  <meta name="robots" content="index,follow"/>
  <link rel="stylesheet" href="/lib/layui-v2.5.6/css/layui.css">

  <style>
    .center {
      text-align: center;
    }

    .blue {
      color: #01AAED;
    }
  </style>

</head>
<body>
<!-- 让 IE8/9 支持媒体查询，从而兼容栅格 -->
<!--[if lt IE 9]>
<script src="https://cdn.staticfile.org/html5shiv/r29/html5.min.js"></script>
<script src="https://cdn.staticfile.org/respond.js/1.4.2/respond.min.js"></script>
<![endif]-->

<div class="layui-container layui-hide">
  <!--显示季数期数-->
  <div class="layui-row">
    <div class="layui-col-xs12 center" style="margin-top: 30px;">
      <div>
        <span id="issue" style="font-size: 20px;color:#2f363c;font-family: 微软雅黑;letter-spacing: 0;"></span>
      </div>
    </div>
  </div>

  <!-- 两个按钮 -->
  <div class="layui-row" style="margin-top: 30px;">
    <div class="layui-col-xs5  layui-col-xs-offset1" style="text-align: left;">
      <input type="button" value="返回首页" class="layui-btn layui-btn-normal layui-btn-xs"
             onclick="window.location='/index'">
    </div>
    <div class="layui-col-xs5" style="text-align: right;">
      <input type="button" id="btnLogout" value="切换用户" class="layui-btn layui-btn-warm layui-btn-xs">
    </div>
  </div>

  <!-- 学号、姓名 -->
  <div class="layui-row" style="margin-top: 20px;">
    <div class="layui-col-xs5 layui-col-xs-offset1" style="text-align: left;">
      学号：<span id="userId" style="font-weight: bolder;" th:text="${session.user.getUserId()}"></span>
    </div>
    <div class="layui-col-xs5" style="text-align: right;">
      姓名：<span id="username" style="font-weight: bolder;"
                 th:text="${session.user.getUsername()}"></span>
    </div>
  </div>

  <!-- 上传界面 -->
  <div class="layui-row" style="margin-top: 20px;">
    <div class="layui-col-xs11 center layui-anim layui-anim-fadein">
      <div class="layui-col-xs-offset1 layui-upload-drag" id="upload" style="background: #F2F2F2;">
        <i class="layui-icon"></i>
        <p>点击上传，或将文件拖拽到此处</p>
        <div class="layui-hide" id="uploadDemoView">
          <hr>
          <div id="uploadInfo" style="color:#000;font-weight: bold;"></div>
          <img src="" alt="图片渲染失败" id="img" style="max-width: 100%;margin-top: 10px;">
        </div>
      </div>
    </div>
  </div>

  <!-- 底部 -->
  <div class="layui-row" style="margin:50px 0 30px;color: #6C757D;">
    <div class="layui-col-lg12 layui-col-sm12 layui-col-xs11 layui-col-xs-offset1">
      <div style="font-size: 16px;">
        <a href="/index" class="blue">HOME</a>&nbsp;/&nbsp;<span id="location" style="color: #ee6153"></span>&nbsp;|&nbsp;
        <a id="manager" href="javascript:void(0);" class="blue">管理</a>
      </div>
      <div style="font-size: 12px;">
        <p th:text="${session.user.getOrganizeName()}"></p>
        <p>若使用出现问题或您也希望使用本网站</p>
        <p>
          请在
          <a href="https://gitee.com/pcdd-group" target="_blank" style="color: #01AAED;">作者 Gitee 主页</a>
          QQ 联系作者
        </p>
        <p>Copyright © pcdd</p>
      </div>
    </div>
  </div>

</div>

<script src="/lib/jquery-3.7.1.min.js"></script>
<script src="/lib/layui-v2.5.6/layui.js"></script>
<script src="/lib/lrz.bundle.js"></script>
<script src="/lib/img-add-text.js"></script>

<script th:inline="javascript">
  layui.use(['element', 'layer', 'upload', 'form'], function () {
    const layer = layui.layer, upload = layui.upload;
    const $ = layui.$

    let lastPath, par, index;
    let userId = $("#userId").text();
    let username = $("#username").text();
    let organizeName = [[${session.user.getOrganizeName()}]];
    let role = [[${session.user.getRole()}]];

    $(function () {
      // 显示加载效果
      index = layer.msg('加载中...', {
        icon: 16,
        shade: 0.5
      });

      // 获取organize表字段
      $.get('/organize/' + organizeName, (res) => {
        $("#issue").text(`青年大学习第 ${res.data.season} 季第 ${res.data.period} 期`);
        if (!res.data.isEnable) {
          let className = [[${session.user.getOrganizeName()}]];
          layer.close(index);
          layer.open({
            content: '<span style="color: orangered">' + className + '</span>截图上交系统暂未开启，如有需要，请联系该班负责人开启！'
            , btn: ['确定', '切换用户']
            , icon: 7
            , closeBtn: 0
            , move: false
            , yes: function (index) {
              window.location = "/index";
            }
            , btn2: function (index, layero) {
              //按钮【切换用户】的回调
              logout();
              //return false 开启该代码可禁止点击该按钮关闭
            }
          });
          return;
        }

        lastPath = window.location.href.substring(window.location.href.lastIndexOf('/') + 1)
        // 传给上传请求的参数，判断打开的是的朋友圈截图上传页面，还是首页截图上传页面
        par = (lastPath === "moments" ? "upload1" : "upload2");
        console.log("lastPath:" + lastPath)
        console.log("par:" + par)
        let location = par === 'upload1' ? '朋友圈截图上交' : '首页截图上交';
        let locationImgUrl;
        $('#location').text(location);

        // 判断用户是否已交朋友圈/首页截图，若已交，则显示对应的截图
        $.get('/image/isUploaded/' + userId, (res) => {
          // 有上交记录
          if (res.data.length !== 0) {
            let data = [];
            for (let i = 0; i < res.data.length; i++) {
              let imgKey = res.data[i].imgKey;
              let temp = imgKey.substring(0, imgKey.lastIndexOf('/'))
              let pageName = temp.substring(temp.lastIndexOf('/') + 1)
              let obj = {}
              obj[pageName] = res.data[i].uploadTime;
              data[i] = obj;
            }

            let uploadTime;
            for (let i = 0; i < data.length; i++) {
              let key = Object.keys(data[i]).toString();
              if (key === '朋友圈截图' && par === 'upload1') {
                uploadTime = data[i][key];
              }
              if (key === '首页截图' && par === 'upload2') {
                uploadTime = data[i][key];
              }
            }

            for (let i = 0; i < data.length; i++) {
              let temp = res.data[i].imgKey;
              // eg：朋友圈截图上交=>朋友圈截图
              let name = location.substring(0, location.length - 2);
              if (temp.indexOf(name) !== -1) {
                locationImgUrl = temp;
                break;
              }
            }
            console.log("locationImgUrl: " + locationImgUrl)

            if (uploadTime != null) {
              $.post("/image/base64", {path: locationImgUrl}, function (res) {
                //console.log(res.data);
                $('#uploadDemoView')
                  .removeClass('layui-hide')
                  .find('img')
                  .attr('src', res.data);

                $('#uploadInfo').html('<div style="color: #16b777;">'
                  + (lastPath === "moments" ? '朋友圈' : '首页')
                  + '截图您已上传！</div>上传时间：' + uploadTime);
              });
            }

          }
        });

        layer.close(index);
        $(".layui-container").removeClass("layui-hide");
      });
    });


    let start;
    // 图片上传
    upload.render({
      elem: '#upload'
      , url: '/image/empty'
      , accept: 'images' // 指定允许上传时校验的文件类型，可选值有：images（图片）、file（所有文件）、video（视频）、audio（音频）
      , size: 5120 // 5M。不支持ie8/9
      , multiple: false // 是否允许多文件上传 不支持ie8/9
      , number: 1, // 设置同时可上传的文件数量，一般配合 multiple 参数出现。
      choose: function () {
        console.log('upload choose')
        // 等待效果
        index = layer.msg('开始处理图片', {
          icon: 16
          , time: 15000
          , shade: 0.3
          , success: () => {
            start = new Date().getTime();
          },
          end: () => {
            if (new Date().getTime() - start > 14500) {
              layer.open({
                content: '上传时间超时，请检查图片是否损坏(上传时间主要取决于您网络环境和硬件的性能)',
                icon: 7
              });
            }
          }
        });
      },
      before: function (obj) {
        console.log('upload before')
        //预读本地文件，如果是多文件，则会遍历。(不支持ie8/9)
        obj.preview(function (index, file, result) {// index得到文件索引 file得到文件对象 result 得到文件base64编码，比如图片
          let beforeSize = (file.size / 1024).toFixed(2);
          console.log("压缩前的大小:" + beforeSize + "kb")

          let layerMsg = $(".layui-layer-content,.layui-layer-padding");
          let anim = "<i class='layui-layer-ico layui-layer-ico16'></i>";
          layerMsg.html(anim + '生成文字中...');

          console.log('file', file)
          /* 图片加文字 */
          imgAddText(result, organizeName + "_" + userId + "_" + username, "80px 微软雅黑", "red").then(res => {
            // res：加了文字后图片的base64
            // 将base64转换为blob类型 并指定文件名
            file = base642Blob(res, userId + "_" + username + ".jpg")
            console.log('blob', file)
            layerMsg.html(anim + '压缩图片中...');

            /* 图片压缩 注意，这里的file就是this.files[0]，这个最关键 */
            lrz(file, {
              fieldName: 'file',
              quality: 0.7
            }).then(function (rst) {
              // res.formData.append('file', rst.base64); // 添加额外参数
              let afterSize = (rst.fileLen / 1024).toFixed(2);
              console.log("压缩后的大小:" + afterSize + "kb")
              console.log("体积减少：" + ((1 - afterSize / beforeSize) * 100).toFixed(2) + "%")
              layerMsg.html(anim + '图片上传中');

              $.ajax({
                url: `/image/upload/${userId}/${username}/${par}/${organizeName}`,
                type: 'post',
                data: rst.formData,
                processData: false,
                contentType: false,
                success: function (res) {
                  console.log(res)
                  layer.msg('上传成功，耗时:' + (new Date().getTime() - start) / 1000 + "s", {
                    icon: 1,
                    offset: 't'
                  });
                  // 渲染处理后的图片
                  $('#uploadDemoView').removeClass('layui-hide').find('img').attr('src', rst.base64);
                  $('#uploadInfo').html('<div style="color: #16b777;">'
                    + (lastPath === "momentsScreenshot" ? '朋友圈' : '首页')
                    + '截图您已上传！</div>上传时间：' + new Date().toLocaleString());
                  layer.close(index);
                },
                error: function (res) {
                  console.error(res)
                  layer.msg('接口异常！请联系管理员', {icon: 2});
                  layer.close(index);
                }
              });
            }).catch(function (err) {
              console.error(err)
            })
          });

        });
      },
      done: function (res) {
        console.log('upload done')
        console.log(res)
      },
      error: function (err) {
        console.error(err)
      }
    });

    // 切换用户
    $("#btnLogout").on('click', () => {
      logout();
    });

    function logout() {
      $.get('/auth/user/logout', () => {
        window.location.href = "/index";
      });
    }

    // 管理入口 TODO：进入管理页面再触发输入口令
    $("#manager").on("click", function () {
      if (role.includes('admin', 'sa')) {
        window.location.href = "/console/login";
        return;
      }

      layer.prompt({
        formType: 1,
        value: '',
        title: '口令',
        area: ['800px', '350px'], //自定义文本域宽高
        shadeClose: true
      }, function (value, index, elem) {
        let pwd = value.trim();
        if (pwd === "1433") {
          window.location.href = "/console/login";
        } else {
          layer.msg('口令错误', {anim: '6', icon: 2});
        }
        layer.close(index);
      });
    });

  });
</script>
</body>
</html>
