<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="work.pcdd.qndxx.mapper.ClazzMapper">
    <!--根据班级查询clazz表-->
    <select id="getClazz" parameterType="string" resultType="clazz">
        SELECT clazz_name, season, period, is_enable, created_at
        FROM clazz
        WHERE clazz_name = #{clazzName}
    </select>

    <!--根据班级修改季数和期数-->
    <update id="updateIssue" parameterType="clazz">
        UPDATE clazz
        SET season = #{season},
            period =#{period}
        WHERE clazz_name = #{clazzName}
    </update>

    <!--根据班级修改系统状态（开启或关闭）-->
    <update id="updateIsEnable" parameterType="clazz">
        UPDATE clazz
        SET is_enable = #{isEnable}
        WHERE clazz_name = #{clazzName}
    </update>

    <!--根据班级查询提交时间分布-->
    <select id="getUploadTimeByClazz">
        SELECT count(*),
               upload_time
        FROM upload,
             user
        WHERE upload.user_id = user.user_id
          AND clazz_name = #{clazzName}
          AND upload_time BETWEEN DATE_FORMAT(NOW(), '%Y-%m-%d 00:00:00') AND DATE_FORMAT(NOW(), '%Y-%m-%d 23:59:59')
        GROUP BY hour(upload_time)
        ORDER BY upload_time
    </select>

</mapper>
