<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="work.pcdd.qndxx.mapper.ImageMapper">
    <!--查询用户是否上传-->
    <select id="isUploaded" parameterType="string" resultType="upload">
        SELECT user_id,
               img_key,
               upload_time
        FROM upload
        WHERE user_id = #{userId}
    </select>

    <!--向upload表增加一条新记录，若主键已存在，则覆盖-->
    <insert id="addUpload" parameterType="upload">
        REPLACE INTO upload
        VALUES (#{userId}, #{imgKey}, #{uploadTime})
    </insert>

    <!--向image表增加一条新记录，若主键已存在，则覆盖-->
    <insert id="addImage" parameterType="image">
        REPLACE INTO image
        VALUES (#{imgKey}, #{imgSize}, #{imgExtension})
    </insert>

    <!--删除组织删除upload表记录-->
    <delete id="deleteUpload" parameterType="string">
        DELETE
        FROM upload
        WHERE user_id IN (SELECT user_id FROM user WHERE organize_name = #{organizeName})
    </delete>

</mapper>
