<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="work.pcdd.qndxx.mapper.StudentMapper">
    <!--根据学号查询学生-->
    <select id="findById" parameterType="string" resultType="student">
        SELECT stu_id, stu_name, pwd, role, clazz_name
        FROM student
        WHERE stu_id = #{stuId}
    </select>

    <!--在指定的班级中根据学号或姓名模糊查询学生-->
    <select id="findByName" parameterType="student" resultType="student">
        SELECT stu_id, stu_name, clazz_name
        FROM student
        WHERE clazz_name = #{clazzName}
        <if test="stuName!=null and stuName!=''">
            AND stu_name LIKE CONCAT('%',#{stuName},'%')
        </if>
    </select>

    <!--添加学生-->
    <insert id="addStudent" parameterType="student">
        INSERT INTO student(stu_id, stu_name, clazz_name)
        VALUES (#{stuId}, #{stuName}, #{clazzName})
    </insert>

    <!--更新学生信息-->
    <update id="updStudentById" parameterType="student">
        UPDATE student
        SET stu_name = #{stuName} ,clazz_name = #{clazzName}
        <!--        <if test="pwd!=null and pwd!=''">
                    ,pwd = #{pwd}
                </if>
                <if test="role!=null and role!=''">
                    ,role = #{role}
                </if>-->
        WHERE stu_id = #{stuId}
    </update>


    <!--根据学号删除学生-->
    <delete id="delStudentById" parameterType="string">
        DELETE
        FROM student
        WHERE stu_id = #{stuId}
    </delete>

    <!--根据班级名删除学生-->
    <delete id="deleteStudentByClazz" parameterType="string">
        DELETE
        FROM student
        WHERE clazz_name = #{clazzName}
    </delete>

</mapper>
