<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="work.pcdd.qndxx.mapper.UserMapper">

    <!--根据账号查询用户-->
    <select id="findById" resultType="user">
        SELECT user_id, username, pwd, role, user.organize_id, organize_name
        FROM user,
             organize
        WHERE user_id = #{userId}
          AND user.organize_id = organize.id
    </select>

    <!--模糊查询用户-->
    <select id="fuzzyQuery" resultType="user">
        SELECT user_id, username, organize_name
        FROM user,organize
        WHERE user.organize_id = organize.id
        <if test="userId!=null and userId!=''">
            AND user_id = #{userId}
        </if>
        <if test="userId==null or userId==''">
            AND username LIKE CONCAT('%',#{username},'%')
        </if>
    </select>

    <!--管理员登录-->
    <select id="login" resultType="user">
        SELECT user_id, username, pwd, role, organize_id, organize_name
        FROM user,
             organize
        WHERE user_id = #{userId}
          AND user.organize_id = organize.id
          AND pwd = #{pwd}
          AND role IN ('admin', 'sa')
    </select>

    <!-- 查询当前组织的所有用户 -->
    <select id="list" resultType="user">
        SELECT user_id, username, organize_name
        FROM user,
             organize
        WHERE organize_id = #{organizeId}
        ORDER BY user_id
    </select>

    <!--查询所有用户-->
    <select id="findAll" resultType="user">
        SELECT user_id, username, pwd, role, organize_name
        FROM user,
             organize
        WHERE user.organize_id = organize.id
    </select>

    <!-- 查询截图上交情况 -->
    <select id="getUploadDetails" resultType="work.pcdd.qndxx.common.vo.UploadDetailsVO">
        SELECT u.user_id,
               u.username,
               IF(i.id IS NULL, '未交', '已交')     AS has_uploaded,
               IF(i.id IS NULL, NULL, i.created_at) AS created_at
        FROM user u
                 LEFT JOIN image i ON u.user_id = i.user_id
                 LEFT JOIN organize o ON u.organize_id = o.id
        WHERE u.organize_id = #{organizeId}
        GROUP BY user_id
        ORDER BY has_uploaded, created_at
    </select>

    <!--查询不同组织的截图已交人数-->
    <select id="findSubmittedCount" resultType="int">
        SELECT count(distinct user.user_id)
        FROM user,
             image
        WHERE organize_id = #{organizeId}
          AND user.user_id = image.user_id
    </select>

    <!--查询不同组织的截图未交人员-->
    <select id="findUnpaidCount" resultType="int">
        SELECT COUNT(*)
        FROM user
        WHERE user_id NOT IN (SELECT user.user_id
                              FROM user,
                                   image
                              WHERE organize_id = #{organizeId}
                                AND user.user_id = image.user_id)
          AND organize_id = #{organizeId}
    </select>

    <!--管理员修改密码-->
    <update id="updPwd">
        UPDATE user
        SET pwd = #{pwd}
        WHERE user_id = #{userId}
    </update>


</mapper>
