<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="work.pcdd.qndxx.mapper.UserMapper">

    <!--根据学号查询学生-->
    <select id="findById">
        SELECT user_id, username, pwd, role, user.organize_id, organize_name
        FROM user,
             organize
        WHERE user_id = #{userId}
          AND user.organize_id = organize.id
    </select>

    <!--模糊查询学生-->
    <select id="fuzzyQuery">
        SELECT user_id, username, organize_name
        FROM user,organize
        WHERE user.organize_id = organize.id
        <if test="userId!=null and userId!=''">
            AND user_id = #{userId}
        </if>
        <if test="userId==null or userId==''">
            AND username LIKE CONCAT('%',#{username},'%')
        </if>
    </select>

    <!--管理员登录-->
    <select id="login">
        SELECT user_id, username, pwd, role, organize_id, organize_name
        FROM user,
             organize
        WHERE user_id = #{userId}
          AND user.organize_id = organize.id
          AND pwd = #{pwd}
          AND role IN ('admin', 'sa')
    </select>

    <!-- 查询当前组织的所有学生 -->
    <select id="findAllUserByOrganize">
        SELECT user_id, username, organize_name
        FROM user,
             organize
        WHERE organize_id = #{organizeId}
        ORDER BY user_id
    </select>

    <!--查询所有学生-->
    <select id="findAll">
        SELECT user_id, username, pwd, role, organize_name
        FROM user,
             organize
        WHERE user.organize_id = organize.id
    </select>

    <!--查询不同组织的截图已交人员-->
    <select id="findSubmitted" resultType="map">
        SELECT user.user_id,
               username,
               created_at
        FROM user,
             image
        WHERE organize_id = #{organizeId}
          AND user.user_id = image.user_id
        GROUP BY user_id
        ORDER BY created_at DESC
    </select>

    <!--查询不同组织的截图未交人员-->
    <select id="findUnpaid">
        SELECT user_id,
               username
        FROM user
        WHERE user_id NOT IN
              (SELECT user.user_id
               FROM user,
                    image
               WHERE organize_id = #{organizeId}
                 AND user.user_id = image.user_id)
          AND organize_id = #{organizeId}
    </select>

    <!--查询不同组织的截图已交人数-->
    <select id="findSubmittedCount">
        SELECT count(distinct user.user_id)
        FROM user,
             image
        WHERE organize_id = #{organizeId}
          AND user.user_id = image.user_id
    </select>

    <!--查询不同组织的截图未交人员-->
    <select id="findUnpaidCount">
        SELECT COUNT(*)
        FROM user
        WHERE user_id NOT IN (SELECT user.user_id
                              FROM user,
                                   image
                              WHERE organize_id = #{organizeId}
                                AND user.user_id = image.user_id)
          AND organize_id = #{organizeId}
    </select>

    <!--管理员修改密码-->
    <update id="updPwd">
        UPDATE user
        SET pwd = #{pwd}
        WHERE user_id = #{userId}
    </update>

    <!--添加学生-->
    <insert id="add">
        INSERT INTO user(user_id, username, role, organize_id)
        VALUES (#{userId}, #{username}, #{role}, #{organize_id})
    </insert>

    <!--更新学生信息-->
    <update id="update">
        UPDATE user
        SET user_id  = ${userId},
            username = #{username}
        WHERE user_id = #{oldId}
    </update>

    <!--根据学号删除学生-->
    <delete id="delete">
        DELETE
        FROM user
        WHERE user_id = #{userId}
    </delete>

</mapper>
